<div class="container">
    <div class="row">
        <div class="col">
            <h1>workout</h1>
            <form >
                <label for="workout-name">workout name</label>
                    <input type="text" name="workout-name" id="workout-name" placeholder="workout name">
                <input type="submit" value="submit" class="add-workout-form">
            </form>
        </div>
    </div>
</div>