<div class="container">
    <div class="row">
        <div class="col">
            <h1>excerise</h1>
            <form >
                <label for="exercise-name">exercise name</label>
                    <input type="text" name="exercise-name" id="exercise-name" placeholder="exercise name">
            </form>
        </div>
    </div>
</div>