<div class="container">
    <div class="row">
        <div class="col">
            <h1>excerise</h1>
            <form >
                <label for="exercise-name">exercise name</label>
                    <input type="text" name="exercise-name" id="exercise-name" placeholder="exercise name">
            </form>
            <form >
                <label for="exercise-type">exercise type</label>
                    <input list="exercise-type-list" type="exercise-type-list" id="exercise-type" placeholder="exercise type">
                    <datalist id="exercise-type-list">
                    <option value="cardio">
                    <option value="strength">
                    <option value="HITT">
                    <option value="Stretch">
            </datalist>  
            </form>
            <form >
                <label for="exercise-weight">exercise weight</label>
                    <input type="text" weight="exercise-weight" id="exercise-weight" placeholder="exercise weight">
            </form>
            <form >
                <label for="exercise-sets">exercise sets</label>
                    <input type="text" sets="exercise-sets" id="exercise-sets" placeholder="exercise sets">
            </form>
            <form >
                <label for="exercise-reps">exercise reps</label>
                    <input type="text" reps="exercise-reps" id="exercise-reps" placeholder="exercise reps">
            </form>
            <form >
                <label for="exercise-duration">exercise duration</label>
                    <input type="text" duration="exercise-duration" id="exercise-duration" placeholder="exercise duration">
            </form>
            <form>
            <input type="submit" value="submit" class="add-exercise-form">
        </form>
        </div>
    </div>
</div>